/* CSS Document */

/* ------------------

BASIC STRUCTURE

------------------ */
#wrapper {
	width: 960px;
	padding: 5px;
	margin: 20px auto;
}
#header {
	height: 100px;
}
#sidebar {
	float: left;
	width: 300px;
}
#content{
	float: right;
	width: 600px;
}
#footer {
	claer: both;
}
/* ------------------

COLORS AND FONTS
9A9A9A
FFC231
002D9A
4D6398
E7AA17
------------------ */
body{
	font-family:Gotham," Heveltica Neue" ,Gotham, "Helvetica Neue", Helvetica, Arial, 
		"sans-serif";
	color:#002D9A;
		background-color:#9A9A9A;
	background:url(../images/background.jpg)
}
#header,#sidebar,#content,#footer {
	background-color:#4D6398;
	border:double;
	border-radius:8px;
	border-color:grey;
}
/*
body{ 
	
	background-color: black

}
p {
	color: aquamarine;
	font-size: 32px
}

#wrapper {
	
}
h1 {
	font-fmaily: segoe, "Segoe UI"
}

*/

/* ------------------

Responsive design

------------------ */

@media screen and (max-width:980px) {
	#wrapper{
		width:94%;
   }
   #Content {
	 width: 65%;
  }
   #sidebar {
     width: 30%;
   }
}

@media screen and (max-width:700px) {
	#content, #sidebar {
		
		width: auto;
		float: none;
    } 
#header{
	height: auto;
 }
}

@media screen and (max-width: 480px){
	h1{
		font-size: 24px;
	}
}
	/* phones */
	@media screen and (max-width:480px) and (min-device-width: 320px) and (max-device-width: 568px){
	
	body{
		 font-size: 40px;
	}
#header {
	height: auto;
}
#content {
	width: auto;
}
#sidebar {
	width:auto;
	clear: both;
}
#header,#sidebar,#content,#footer{
	border-radius:16px;
	border-width:8px;

		}
}ssss